<p>It was started in starting during the end of March, 2016 focused on to understand the patterns of a machine being learnt by various methods.</p>
<p>While rapid development and utilization of Artificial Intelligence and Machine Learning based on human's day to day life, diving into this sea and finding its own nature has become the required job.</p>

<h2>Features</h2>
<ul>
    <li>Create your own account for all operaions.</li>
    <li>Create multiple instances for your own IoT projects. </li>
    <li>Select out of various devices for IoT project (like Arduino etc.)</li>
    <li>Select various communication devices.</li>
    <li>Dynamic pin definition system.</li>
    <li>Define pin configurarion by this application.</li>
    <li>See readings of end devices from this web application.</li>
    <li>Send commands to end device (instance) for operation.</li>
    <li>News for ongoing work.</li>
</ul>
<h2>Ongoing work</h2>
<ul>
    <li>Role based user management module.</li>
    <li>Automatic embedded code generation according to definition provided.</li>
    <li>Mobile application development.</li>
</ul>