@import '../../../../sass/main';
.status {
    &:not(:first-child) {
        margin-top: .5rem;
    }
    display: flex;
    flex-direction: column;
    @include respond(tab-port) {
        flex-direction: row;
        align-items: center;
    }
    &__text {
        margin-right: 1rem;
    }
    &__action {
        padding: .8rem;
        margin-left: auto;
        color: $color-black;
        border: none;
        background: transparent;
        &:hover {
            background-color: darken($color-white, 5);
        }
    }
}