<div class="container">
    <header class="head">
        <a routerLink="/" class="head__brand">
            <img class="head__brand--logo" src="assets/images/project-lata.png" alt="">
        </a>
    </header>
    <nav role="navigation" class="nav">
        <!-- <a routerLinkActive="active" class="nav__link" [routerLink]="'/login'">Login</a> -->
    </nav>
    <section role="main" class="main">
        <div class="signup">
            <router-outlet></router-outlet>
        </div>
        <!-- <footer class="footer">
            <p class="footer__copyright">{{footerText}}</p>
        </footer> -->
    </section>
</div>